body {
  font-family: 'circular air';
}

# main-title {
  display: inline-block;
}

# nav {
  display: inline-block;
}

nav ul {
  list-style: none;
  color: #9e9e9e;
  display: inline-block;
}

h1 {
  font-family: 'circular air';
  font-weight: 400;
  font-size: 30px;
  color: #54bbff;
  margin: 40px;
  display: inline-block;
}
